<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
	<persistence-unit name="br.com.locadora" transaction-type="JTA">
		<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
   		<jta-data-source>locadora</jta-data-source>
		
		<class>br.com.locadora.noturno.entidade.Modelo</class>
		<class>br.com.locadora.noturno.entidade.Opcional</class>
		<class>br.com.locadora.noturno.entidade.Veiculo</class>
		<class>br.com.locadora.noturno.entidade.Cliente</class>
		<class>br.com.locadora.noturno.entidade.Locacao</class>
		<class>br.com.locadora.noturno.entidade.Usuario</class>
		
		<properties>
			<property name="eclipselink.logging.level" value="FINE"/>
			<property name="eclipselink.logging.parameters" value="true"/>
			<property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
		</properties>
	</persistence-unit>
</persistence>
